{% extends 'Filephile/base.html' %}

{% block title %}Upload{% endblock %}

{% block css %}
  <!-- css linkage -->
{% endblock %}

{% block content %}
  <form action="{% url 'Filephile:change_password' %}" method="post">
    {% csrf_token %}

    {{ change_password_form.current.label_tag }}
    {{ change_password_form.current }}

    <br>

    {{ change_password_form.change.label_tag }}
    {{ change_password_form.change }}

    <br>

    <button type="submit">change</button>
  </form>
{% endblock %}
