{% extends 'Filephile/base.html' %}
{% load static %}
{% block title %}Upload{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'CSS/change.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="col-md-4">
      <form class='form-change' action="{% url 'Filephile:change_password' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
          {{ change_password_form.current.label_tag }}
          {{ change_password_form.current }}
        </div>

        <br>

        <div class="form-group">
          {{ change_password_form.change.label_tag }}
          {{ change_password_form.change }}
        </div>

        <br>

        <button type="submit" class="btn btn-primary pull-left">change</button>
      </form>
    </div>
  </div>
{% endblock %}
