{% extends 'Filephile/base.html' %}

{% block title %}Upload{% endblock %}

{% block css %}
  <!-- css linkage -->
{% endblock %}

{% block content %}

  <!-- show files -->
  <h1>This is dashboard</h1>

  <br><br>

  <!-- show groups -->
  <table border="1">
    <tr>
      <th>Groups</th>
      <th>Date_Created</th>
      <th>Operations</th>
    </tr>
    {% for group in groups reversed %}
      <tr>
        <td>{{ group.name }}</td>
        <td>{{ group.Date_Created }}</td>
        <td>
          <a href="{% url 'Filephile:group_info' group.id %}">show_info</a>
        </td>
      </tr>
    {% endfor %}
  </table>

  <br>
  <!-- create group -->
  {% if message %}
      {{ message }}
  {% endif %}

  <h3>create group</h3>
  <form action="{% url 'Filephile:create_group' %}" method="post">
    {% csrf_token %}

    {{ create_group_form.groupname.label_tag }}
    {{ create_group_form.groupname}}

    <br>
    {{ create_group_form.permission_key.label_tag }}
    {{ create_group_form.permission_key}}

    <button type="reset">reset</button>
    <button type="submit">submit</button>
  </form>

  <br>
  <!-- search group -->
  <h3>search group</h3>
  <form action="{% url 'Filephile:search_group' %}" method="post">
    {% csrf_token %}

    {{ search_group_form.groupname.label_tag }}
    {{ search_group_form.groupname }}

    <button type="reset">reset</button>
    <button type="submit">submit</button>
  </form>

  <br><br>

  <!-- show files -->
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Status</th>
      <th>Date Added</th>
      <th>Operations</th>
    </tr>
    {% for file in files reversed %}
      <tr>
        <td>{{ file.name }}</td>
        <td>{{ file.owner.name }}</td>
        {% if file.private %}
          <td>private</td>
        {% else %}
          <td>public</td>
        {% endif %}
        <td>{{ file.Date_Added }}</td>
        <td>
          <a href="{% url 'Filephile:delete' file.id %}">delete</a>
          <a href="{% url 'Filephile:download' file.data.url %}">download</a>
          <a href="{% url 'Filephile:groups' file.id %}">groups</a>
        </td>
      </tr>
    {% endfor %}
  </table>

  <br><br>
  <!-- upload file -->
  <form action="{% url 'Filephile:upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ upload_form.filename.label_tag }}
    {{ upload_form.filename}}

    <br>

    {{ upload_form.filedata.label_tag }}
    {{ upload_form.filedata}}

    <br>

    <button type="reset">reset</button>
    <button type="submit">submit</button>
  </form>

{% endblock %}
