{% extends 'Filephile/base.html' %}

{% block title %}Upload{% endblock %}

{% block css %}
  <!-- css linkage -->
{% endblock %}

{% block content %}
  <h1>{{ group.name }}</h1>
  <h3>user number: {{ user_number }}</h3>
  <h3>file number: {{ file_number }}</h3>
  <h3>manager: {{ manager.name.name }}</h3>
  {% if user in users %}
    <br><br>
    <table border="1">
      <tr>
        <th>Member</th>
        <th>Operations</th>
      </tr>
      {% for user in users %}
        <tr>
          <td>{{ user.name }}</td>
        </tr>
      {% endfor %}
    </table>

    <br><br>

    <table border="1">
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Status</th>
        <th>Date Added</th>
        <th>Operations</th>
      </tr>
      {% for file in files reversed %}
        <tr>
          <td>{{ file.name }}</td>
          <td>{{ file.owner.name }}</td>
          {% if file.private %}
            <td>private</td>
          {% else %}
            <td>public</td>
          {% endif %}
          <td>{{ file.Date_Added }}</td>
          <td>
            <a href="{% url 'Filephile:download' file.data.url %}">download</a>
          </td>
        </tr>
      {% endfor %}
    </table>

    <br><br>

    {% ifequal user.name manager.name.name %}
      <a href="{% url 'Filephile:dismiss' group.id %}">dismiss</a>
    {% else %}
      <a href="{% url 'Filephile:quit' group.id %}">quit</a>
    {% endifequal %}

  {% else %}
    <form action="{% url 'Filephile:join' group.id %}" method="post">
      {% csrf_token %}

      {{ join_group_form.permission_key.label_tag }}
      {{ join_group_form.permission_key }}

      <button type="submit">join</button>
    </form>
  {% endif %}

  <br>
  <a href="{% url 'Filephile:dashboard' %}">back</a>
{% endblock %}
