{% extends 'Filephile/base.html' %}
{% load static %}
{% block title %}Upload{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'CSS/setting.css' %}">
{% endblock %}

{% block content %}
  <h2>{{ targeted_user.name }}'s personal page</h2>

  <br>
  {% ifequal targeted_user user%}
    <div class="changes">
      <a href="{% url 'Filephile:change_name' %}"><button class="btn btn-primary pull-left">change_name</button></a>
      <a href="{% url 'Filephile:change_password' %}"><button class="btn btn-primary pull-right">change_password</button></a>
    </div>
  {% endifequal %}

{% endblock %}
